.msg-title{
    margin-top: 10px;
    color: white;
}
.textarea{
    /* border: 1px red solid; */
    margin-bottom: 20px;
}
.msg-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
      /* border: solid red 2px; */
      width: 1000px;
  background: var(--gray-dark-default, #030712);
}