body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #283048;  */
/* background: -webkit-linear-gradient(to right, #859398, #283048); */
background: linear-gradient(#111827, #111827);
/* background: var(--gray-dark-50, #111827); */
font-family: 'Josefin Sans', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-family: 'Josefin Sans', sans-serif;

}
